<h1>p2p Network Connectivity Graph</h1>

<svg id="network-visualisation" width="960" height="600"></svg>

<div id="sidebar" class="sidebar">
  <button {{action "restartVisualisation"}}>test</button>
  <p><a id="polling_control">...</a></p>
  <p><a id="connect_nodes">connect nodes</a></p>
  <p><a id="randomise_node_position">randomise node position</a></p>
  <p><label>edgeLengthVal_slider</label><input id="edgeLengthVal_slider" /></p>
  <p><label>idealEdgeLength_slider</label><input id="idealEdgeLength_slider" /></p>
  <p><label>nodeOverlap_slider</label><input id="nodeOverlap_slider" /></p>
  <p><label>nodeSpacing_slider</label><input id="nodeSpacing_slider" /></p>
</div>